.details {
    display: flex;
    margin: 0 auto 5vmax auto;
    padding-top: 2vmax;
    max-width: 100%;
    width: 820px;
    align-items: center;
    border-top: 5px solid #0f1c35;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: -1;
        /*clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 0);*/
        clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 79%, 71% 79%, 55% 76%, 37% 69%, 11% 83%, 0 100%);
        background: linear-gradient(180deg, #2a62cf, #48a3bf);
    }

    h1 {
        margin: 0;
        color: #0f1c35;
        font-size: 28pt;
        font-weight: bold;
    }

    .subtitle {
        color: #333335;
        display: inline;
        font-size: 15pt;
        line-height: 1.33em;
    }

    aside {
        margin: 0 2vmax;
    }

    .profile-pic {
        width: 180px;
        max-width: 20vw;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #e5e5e5;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    }

    ul {
        display: flex;
        margin: 1vmax 0;
        gap: 2.33ch;
        padding: 0;

        li {
            position: relative;
            list-style: none;
            display: flex;
            gap: 0.8ch;
            align-items: center;

            .icon {
                position: relative;
                top: -2px;
                height: 1.2em;
                width: 1.2em;
            }
        }

        &.skill-tags {
            gap: 1ch;
            margin: 1.5vmax 0;
            flex-wrap: wrap;
            .tag {
                font-size: .89em;
                background-color: #9ee1b1;
                padding: .2em .4em;
                border-radius: 0.8ch;
                border: 1px solid rgba(0, 0, 0, 0.3);
                user-select: none;
                transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
                position: relative;
                overflow: hidden;
                color: rgb(0 0 0 / 0.78);

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
                    background-size: 300% 100%;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                    z-index: -1;
                }

                &:hover::after {
                    opacity: 1;
                    animation: rainbowScroll 3s linear infinite;
                }

                &:hover {
                    box-shadow: 0 0 20px yellow;
                    background-color: rgba(255 255 255 / 0.35);
                    color: #000;
                    text-shadow: #fff 0 0 3px;
                }
            }

        }
    }
}

/* Keyframes for scrolling gradient */
@keyframes rainbowScroll {
    0% { background-position: 0% 50%; }
    100% { background-position: 150% 50%; }

}