:root {
    font-size: 12pt;
    font-family: 'IBM Plex Sans', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e8e4db;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: #2a62cf;
    text-decoration: none;

    &:hover {
        color: #133175;
        text-decoration: underline;
        text-underline-offset: 0.23em;
        text-decoration-thickness: 2px;
    }

    &:focus {
        background-color: #0f1c35;
        color: #f6d81a;
        outline: none;
    }
}